<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Estudio 01</h2> -
                <h3>(years)</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur
                     adipisicing elit. Voluptates autem eligendi
                      est, necessitatibus quis quam dicta, incidunt
                       ad dolores vitae eius animi sunt officiis
                        nostrum vero quas corporis earum quasi!
                </p>
            </li>
            <li>
                <h2>Estudio 02</h2> -
                <h3>(years)</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur
                     adipisicing elit. Voluptates autem eligendi
                      est, necessitatibus quis quam dicta, incidunt
                       ad dolores vitae eius animi sunt officiis
                        nostrum vero quas corporis earum quasi!
                </p>
            </li>
            <li>    
                <h2>Estudio 03</h2> -
                <h3>(years)</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur
                     adipisicing elit. Voluptates autem eligendi
                      est, necessitatibus quis quam dicta, incidunt
                       ad dolores vitae eius animi sunt officiis
                        nostrum vero quas corporis earum quasi!
                </p>
            </li>
        </ul>
    </div>
</div>