.logo{
    background-color: #40403F;
}

app-rsociales{
    float: right;
    margin-top:  25px;
}
.footer{
    background-color: #0D0D0D;
}

footer{
    color: #bceff3e3;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}